<br/>
<div class="grid-x grid-padding-x grid-padding-y">

  <% @sessions.each do |session|%>

  <ul class="card game_tile" id="index">
    <h4 id="index-card-title">
    Game id:
      <%=session.game.id%></h4>

    <div class='float-center' id="guesses-card">
      <p class="card-divder" id="guesses-title">Guesses:</p>

      <ul style="list-style-type:none" class="float-center" id="guesses">

        <%session.guesses.each do |guess|%>

        <li><%=guess.guess%></li>

        <%end%>

      </ul>
    </div>

    <br/>
    Answer:
    <p class="cell " id="answer">

      <%=session.game.answer%></p>
  </ul>
  <%end%>
