<br/>

<div class="">
   <div className="grid-container tile-container ">
      <div className="grid-x grid-padding-x grid-padding-y word-tile ">
        <div className="cell card">
          <h1 class="index-title float-center">
            Previous Games
          </h1>
        </div>
      </div>
    </div>
  <hr/>
</div>

<div class="grid-x grid-padding-x grid-padding-y">

  <%if @sessions%>
    <%if @sessions.length > 0 %>
      <% @sessions.each do |session|%>

      <div class="game_tile float-center index">
        <h3 id="index-card-title">
          <ul class='grid-x cell float-center' id="guesses-card">
            
            <div style="list-style-type:none" class="grid-x" id="guesses">
              <%session.guesses.each do |guess|%>

              <%current_guess = GuessToRender.new(guess.word,session.game.answer)%>
              <%current_guess = current_guess.format_word%>

              <%current_guess.each do |character|%>
              <%color = character[1][:color]%>
              <%letter = character[1][:letter]%>
              <div class="guess-letter-tile">
                <p class="guess-display" id="<%=color%>"><%=letter%></p>
              </div>
              <%end%>
              <%end%>
            </div><div class="answer-section float-center">
              Answer:
              <p class="cell card" id="answer">
                <%=session.game.answer%></p>
            </div>
          </ul>

          <br/>

        </div>
        <%end%>

        <%else%>
        <div class="float-center " id="no-games-message">
          <h3 class="index-title">You have no previous games, get playing!</h3>
          <div>
            <%end%>

            <%else%>
            <div class="float-center" id="no-games-message">
              <h3 class="index-title">Welcome! Sign in to view your previous games.</h3>
            </div>


            <%end%>

          </div>
        </div>
