<div class="grid-container" id="active-game-tile">

  <%= form_for :session do |f| %>

    <div class="grid-x grid-padding-x">

      <label for="right-label" class="cell small-6 small-offset-3" id="form-title">
        <h3>Guess!</h3>
      </label>

      <div class="cell small-6 small-offset-3">
        <%= f.text_field :guesses, id:"guess-form" %>
      </div>

      <div class="cell small-6 small-offset-5">
        <%= f.submit "Submit Guess", class:"aux_button"%>
      </div>

    <% end %>
  </div>
</div>
