@import "variables.scss";

#active-game-tile {

  font-size: large;

  #form-title {
    text-align: center;

  }

  #guess-form {
    border-radius: 5ch;
  }
}

.guess-display{
  width: 50px;
  text-transform: uppercase;
  font-size: x-large;
  text-align: center;
  border-radius: 1ch;
  border-color: black;

}

.guesses-container{
  padding-left: 30%;

}

.card-new-game{
  width: fit-content;
  height: 500px;
}

.guess-form{
position: absolute;
bottom: 15px;
}