@import "variables.scss";


.word-tile{
  background-color: $blue;
  .title-page{
    text-transform: lowercase;
    text-align: center;
  }
  border-radius: 2ch;
  border-color: black;
  max-width: 800px;
  
}

.title-page{
  text-align: center;
}

.subtitle{
  text-align: center;
}

.word-word{
  text-align: left;
  text-transform: capitalize;
  text-decoration: underline;
}

#play-button{
  background-color: $blue;
  border-radius: 9ch;
  max-width: 200px;
  
}
