@import "variables.scss";


.word-tile{
  background-color: $ivory;
  .title-page{
    text-transform: lowercase;
    text-align: center;
  }
}

.title-page{
  text-align: center;
}

.subtitle{
  text-align: center;
}

.word-word{
  text-align: left;
  text-transform: capitalize;
  text-decoration: underline;
}
