@import "variables.scss";


.word-tile {
  background-color: $black;
  border-radius: 2ch;
  border-color: black;
  max-width: 800px;
  .title-page {
    text-align: left;
  }
  .word-word {
    text-align: left;
    text-transform: capitalize;
  }
}

.title-page {
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  text-align: center;
}

#play-button {
  background-color: $red;
  border-radius: 9ch;
  max-width: 200px;
  align-self: center;
  
}

.word-definition{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: left;
}

.button-19 {
  appearance: button;
  background-color: $blue;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;

  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: $red;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover {
  background-color:gray;
  color: gray ;
}

.button-19:disabled {
  cursor: auto;
}



