@import "variables.scss";


body{
  background-color: $light_paper;
  color: black;
font-family: Arial, Helvetica, sans-serif;
}

.aux_button {
  background-color: $blue;
  color: $white;
  border-radius: 1ch;
}

.game_tile {

  height: 300px;
}

.index {
  color: black;
  background-color: white;
  max-width: 350px;
  min-width: 350px;
  max-height: 525px;
  min-height: 525px;

}

#guesses {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 20px;
}

#guesses-card {

  color: black;

}

#index-card-title{
  font-weight: bolder;
}

#guesses-title {
  font-size: larger;
}

#answer {
  text-transform: uppercase;
  font-weight: bolder;
}

.card {
  background-color: white;
  border-radius: 2ch;
  border-color: black;
  border-width: 4px;
  text-align: center;
  padding-top: 6ch;

}

#card-divider {
  text-align: center;
}

.card-container {
  width: 150px;
}

.menu {
  color: black;
}

.title {
  text-align: center;
}

#Incorrect{
  background-color: #A9A9A9;
}

#correct-letter-spot{
  background-color: #96D294 ;
}

#correct-letter{
  background-color: #E0D268;
}
