@import "variables.scss";

  background-color: #4CAF50;
  /* Green */
  color: white;
}

.aux_button {
  background-color: $blue;
  color: $white;
  border-radius: 1ch;
  text-align: center;
  width: auto;


=======
  background-color: #4CAF50; /* Green */
  color: white;
}

.aux_button{
 background-color: $blue; 
 color: $white;
 border-radius: 1ch;
 text-align: center;
 width: auto;

 

}

.game_tile {
  color: ivory;
  width: 200px;
  max-width: 200px;
  height: 300px;


}

#index {
  color: black;
  background-color: $dark-green;
}

#guesses {
  font-weight: bold;
  text-transform: uppercase;



}

#guesses-card {

  color: black;
  width: 100px;
}

#index-card-title{
  font-weight: bolder;
}


#guesses-title {
  font-size: larger;
}

#answer {
  text-transform: uppercase;
  font-weight: bolder;
}


.card {
  background-color: $dark-green;
  border-radius: 2ch;
  border-color: $blue;
  border-width: 4px;
  text-align: center;
}

#card-divider {
  text-align: center;
}

.card-container {
  width: 150px;
}

.menu {
  color: black;

  a {
    color: black;
  }
}

#sidebar {
  background-color: aliceblue;
}

.title {
  text-align: center;
}

