@import "variables.scss";

.top-bar{
  background-color: $blue;
}

.nav{
  background-color: $blue;
  color: White
}

.nav-menu{
  background-color: $ivory;
  color:black;
  margin: auto;
}

.main-button{
  background-color: $dark-green;
  text-align: center;
  width: 100px;
  border-radius: 5ch;
  color: black;
}

.main-button:hover {
  background-color: $light_green;
  color: white;
}

.main-button-text{
  margin: 5px
}