@import "variables.scss";

.top-bar{
  background-color: $black;
}

.nav{
  color: white;
}

.nav-menu{
  background-color: $dark-paper;
  color:black;
  margin: auto;
}

.main-button{
  background-color: $dark-paper;
  text-align: center;
  width: 100px;
  border-radius: 5ch;
  color: black;
}

.main-button:hover {
  background-color: $light_paper;
}

.main-button-text{
  margin: 5px
}

#nav-bar-menu {
  color: white;
  background-color: $black;
}