#no-games-message{
  width: 100%;
  text-align: center;
}
.answer-section{
  text-align: center;
  background-color: black;
  border-radius: 1ch;
  font-family: monospace;
  color:white
}

#answer{
  padding-top: 0%;
}

.index-title{
  text-align: center;
  font-family: monospace;
  background-color: #E4D6B5;
  width:200px;
  border-radius: 1ch,
}