.tutorial-list{
  font-size: larger;
  list-style-type: none ;
  padding: 2%;
  border-radius: 5ch;
  
}

.tutorial {
  max-width: fit-content;
  border-radius: 1ch;
  font-size: large;
}

.tutorial-highlighting{
  width: 100px;
  padding: 1%;
  font-size: larger;
}

.tutorial-button{
  width: fit-content;
  padding: 2%;
  font-size: larger;
}