.tutorial-list{
  font-size: larger;
  list-style-type: none ;
  padding: 2%;
  border-radius: 5ch;
}

.tutorial {
  max-width: fit-content;
  border-radius: 1ch;
  font-size: large;
  min-width: auto;
}

.tutorial-content{
  padding-left: 15%;
}

.tutorial-button{
  width: fit-content;
  padding: 2%;
  font-size: larger;
}