.tutorial-list{
  font-size: x-large;
  list-style-type: none ;
  padding: 2%;
  font-family: monospace;
  border-radius: 5ch;
  text-align: left;
}

.tutorial {
  border-radius: 1ch;
  font-size: x-large;
  min-width: auto;
}

.tutorial-button{
  width: fit-content;
  align-self:center ;
  font-size: larger;
  padding-inline: 43%;
}

.tutorial-title{
  text-align: center;
  font-family: monospace;
}

.tutorial-container{
  background: rgba($color: #E4D6B5, $alpha: .90);
  width: fit-content;
  align-content: center;
  border-radius: 1ch;
}
