<div>
  <h1>How to Play:</h1>

  <ul>
    <li>The name of the game is guessing the secret word, and you only get 5 guesses.
    </li>
    <li>Each time you guess, the guess will pop up with certian features:
    </li>
    <li>If the letter is highlighted yellow, its in the word, but not in the correct spot.
    </li>
    <li>If the letter is highlighted green, its in the word, and its in the correct spot.
    </li>
    <li>However, if the letter is highlighted gray, it's not in the word at all.
    </li>

  </ul>
</div>
